APP_NAME="My Application"
APP_VERSION="1.0.0"

PORT=3001

JWT_SIGNING_KEY=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

CLIENT_URL=http://localhost:3000
MODEL_SERVICE_URL=http://localhost:3002

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

MONGO_URL='mongodb://user:pass@127.0.0.1:27017'

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=25
MAIL_USER=
MAIL_PASS=

REQUIRED_SIGN_UP_VERIFICATION=false
